### Import Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

### 03. Import the orders_products_combined dataframe

In [2]:
# Import product data
path = r"C:\Users\Juliana\Documents\DATA ANALYTICS COURSE\IMMERSION\4. Python\Instacart Basket Analysis"
df_ords_prods_combined = pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_combined.pkl'))

In [3]:
df_prods = pd.read_csv(os.path.join(path,'02 Data','Prepared Data','products_checked.csv'), index_col = False)

### 04. Check the shape of the imported dataframe

In [4]:
df_ords_prods_combined.shape

(32640698, 13)

### Data type change to decrease memory usage

In [5]:
# Check the columns of df_prods
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [6]:
df_prods.shape

(49688, 6)

In [6]:
# Check the columns of df_ords_prods_combined
df_ords_prods_combined.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,NaN,196.0,1.0,0.0,both
1,0,0,2539329,1,prior,1,2,8,NaN,14084.0,2.0,0.0,both
2,0,0,2539329,1,prior,1,2,8,NaN,12427.0,3.0,0.0,both
3,0,0,2539329,1,prior,1,2,8,NaN,26088.0,4.0,0.0,both
4,0,0,2539329,1,prior,1,2,8,NaN,26405.0,5.0,0.0,both

In [7]:
# Drop columns that are unnecessary in df_prods
df_prods= df_prods.drop(columns = ['Unnamed: 0',])

In [8]:
# Drop columns that are unnecessary in df_ords_prods_combined
df_ords_prods_combined= df_ords_prods_combined.drop(columns = ['Unnamed: 0', 'Unnamed: 0.1','eval_set','_merge'])

In [9]:
df_ords_prods_combined['product_id'].describe()

count    3.243449e+07
mean     2.557634e+04
std      1.409669e+04
min      1.000000e+00
25%      1.353000e+04
50%      2.525600e+04
75%      3.793500e+04
max      4.968800e+04
Name: product_id, dtype: float64

In [10]:
df_ords_prods_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32640698 entries, 0 to 32640697
Data columns (total 9 columns):
 #   Column                 Dtype
---  ------                 -----
 0   order_id               int64
 1   user_id                int64
 2   order_number           int64
 3   orders_day_of_week     int64
 4   order_hour_of_day      int64
 5   days_since_last_order  float64
 6   product_id             float64
 7   add_to_cart_order      float64
 8   reordered              float64
dtypes: float64(4), int64(5)
memory usage: 2.4 GB

In [13]:
# Change types for df_ords_prods_combined data set
df_ords_prods_combined['order_id']=df_ords_prods_combined['order_id'].astype('int32')
df_ords_prods_combined['user_id'] = df_ords_prods_combined['user_id'].astype('int32')
df_ords_prods_combined['order_number']=df_ords_prods_combined['order_number'].astype('int32')
df_ords_prods_combined['orders_day_of_week']=df_ords_prods_combined['orders_day_of_week'].astype('int32')
df_ords_prods_combined['order_hour_of_day']=df_ords_prods_combined['order_hour_of_day'].astype('int32')
df_ords_prods_combined['days_since_last_order']=df_ords_prods_combined['days_since_last_order'].astype('float32')
df_ords_prods_combined['product_id']=df_ords_prods_combined['product_id'].astype('float32')
df_ords_prods_combined['add_to_cart_order']=df_ords_prods_combined['add_to_cart_order'].astype('float32')
df_ords_prods_combined['reordered']=df_ords_prods_combined['reordered'].astype('float32')

In [14]:
# Check output to see memory usage

df_ords_prods_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32640698 entries, 0 to 32640697
Data columns (total 9 columns):
 #   Column                 Dtype
---  ------                 -----
 0   order_id               int32
 1   user_id                int32
 2   order_number           int32
 3   orders_day_of_week     int32
 4   order_hour_of_day      int32
 5   days_since_last_order  float32
 6   product_id             float32
 7   add_to_cart_order      float32
 8   reordered              float32
dtypes: float32(4), int32(5)
memory usage: 1.3 GB

In [15]:
df_ords_prods_combined['product_id'].describe()

count    3.243449e+07
mean     2.557630e+04
std      1.374576e+04
min      1.000000e+00
25%      1.353000e+04
50%      2.525600e+04
75%      3.793500e+04
max      4.968800e+04
Name: product_id, dtype: float64

In [16]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49688 entries, 0 to 49687
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49688 non-null  int64
 1   product_name   49672 non-null  object
 2   aisle_id       49688 non-null  int64
 3   department_id  49688 non-null  int64
 4   prices         49688 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.9+ MB

In [18]:
# Change types for df_prods data set
df_prods['product_id']=df_prods['product_id'].astype('float32')
df_prods['aisle_id']=df_prods['aisle_id'].astype('int32')
df_prods['department_id']=df_prods['department_id'].astype('int32')
df_prods['prices']=df_prods['prices'].astype('float32')

In [19]:
# Check output to see memory usage

df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49688 entries, 0 to 49687
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49688 non-null  float32
 1   product_name   49672 non-null  object
 2   aisle_id       49688 non-null  int32
 3   department_id  49688 non-null  int32
 4   prices         49688 non-null  float32
dtypes: float32(2), int32(2), object(1)
memory usage: 1.1+ MB

In [20]:
df_prods['prices'].describe()

count    49688.000000
mean         7.682076
std          4.200345
min          1.000000
25%          4.100000
50%          7.100000
75%         11.200000
max         25.000000
Name: prices, dtype: float64

In [21]:
df_prods['product_id'].describe()

count    49688.000000
mean     24844.500000
std      14343.793945
min          1.000000
25%      12422.750000
50%      24844.500000
75%      37266.250000
max      49688.000000
Name: product_id, dtype: float64

### 05.Combine orders_products_combined with the Products dataframe

In [ ]:
pd.merge(df_ords_prods_combined,df_prods, on =['product_id'])

In [22]:
# Merge the two df using 'Product_id' as the key
df_ords_prods_combined_merged = df_ords_prods_combined.merge(df_prods, on = ['product_id'], indicator = True)

In [23]:
df_ords_prods_combined_merged['prices'].describe()

count    3.243303e+07
mean     7.794921e+00
std      4.124281e+00
min      1.000000e+00
25%      4.200000e+00
50%      7.400000e+00
75%      1.130000e+01
max      2.500000e+01
Name: prices, dtype: float64

In [24]:
# Check merge
df_ords_prods_combined_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,Soda,77,7,9.0,both

### 06. Confirm the results using merge flag

In [25]:
df_ords_prods_combined_merged['_merge'].value_counts()

both          32433030
left_only            0
right_only           0
Name: _merge, dtype: int64

### 07. Export newly created dataframe

In [26]:
#Export df_ords_prods_combined_merged as a pickle file
df_ords_prods_combined_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))