### Import libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

### Import the ords_prods_merged dataframe

In [2]:
# Import product data
path = r"C:\Users\Juliana\Documents\DATA ANALYTICS COURSE\IMMERSION\4. Python\Instacart Basket Analysis"
ords_prods_merged= pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_merged.pkl'))

In [3]:
ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,Soda,77,7,9.0,both

In [4]:
ords_prods_merged['prices'].describe()

count    3.243303e+07
mean     7.794921e+00
std      4.124281e+00
min      1.000000e+00
25%      4.200000e+00
50%      7.400000e+00
75%      1.130000e+01
max      2.500000e+01
Name: prices, dtype: float64

In [5]:
# Create subset
df = ords_prods_merged[:1000000]

In [6]:
df.shape

(1000000, 14)

In [7]:
# Define a function

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [8]:
# Use on the df 
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\Juliana\AppData\Local\Temp\ipykernel_19868\1747324911.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [9]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,Soda,77,7,9.0,both,Mid-range product
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product

In [10]:
df['price_range'].value_counts()

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [11]:
# check max price
df['prices'].max()

14.800000190734863

### If-Statements with the loc() Function

In [12]:
# Create conditions
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\Juliana\AppData\Local\Temp\ipykernel_19868\2026763200.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [13]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [14]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [15]:
df['price_range_loc'].value_counts()

Mid-range product    756450
Low-range product    243550
Name: price_range_loc, dtype: int64

#### Apply loc() to the entire df

In [16]:
ords_prods_merged.loc[ords_prods_merged['prices']>15,'price_range_loc'] = 'High-range product'

In [17]:
ords_prods_merged.loc[(ords_prods_merged['prices']<15) & (ords_prods_merged['prices']>5) ,'price_range_loc'] = 'Mid-range product'

In [18]:
ords_prods_merged.loc[ords_prods_merged['prices']<= 5,'price_range_loc'] = 'Low-range product'

In [19]:
ords_prods_merged['price_range_loc'].value_counts()

Mid-range product     21792446
Low-range product     10130768
High-range product      412555
Name: price_range_loc, dtype: int64

### If-Statements with For-Loops

In [20]:
# frequency of the “orders_day_of_the_week”
ords_prods_merged['orders_day_of_week'].value_counts()

0    6209410
1    5665604
6    4500101
2    4217610
5    4209334
3    3843929
4    3787042
Name: orders_day_of_week, dtype: int64

In [21]:
# for-loop to classified each day's frequency
# Create an empty list into which you can place the results from your loop

result = []

# Loop

for value in ords_prods_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [22]:
# create a new column
ords_prods_merged['busiest_day'] = result

In [23]:
#Check frequency
ords_prods_merged['busiest_day'].value_counts()

Regularly busy    22436578
Busiest day        6209410
Least busy         3787042
Name: busiest_day, dtype: int64

### 02. Create a new column for the modified conditions

In [24]:
# Create an empty list into which you can place the results from your loop

new_results = []

# for loop

for value in ords_prods_merged["orders_day_of_week"]:
  if value == 0 or value == 1:
    new_results.append("Busiest day")
  elif value == 3 or value ==4:
    new_results.append("Least busy days")
  else:
    new_results.append("Regularly busy days")

In [25]:
# create a new column
ords_prods_merged['busiest_days'] = new_results

### 03. Check the values of this new column for accuracy.

In [26]:
#Check frequency
ords_prods_merged['busiest_days'].value_counts()

Regularly busy days    12927045
Busiest day            11875014
Least busy days         7630971
Name: busiest_days, dtype: int64

#### The sum of the newly calculated frequencies corresponds to the orders for each day and has been appropriately aggregated.

In [27]:
#Check new column
ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days

### 04. Create a new column containing these labels called “busiest_period_of_day.”

In [28]:
# frequency of the “order_hour_of_day”
ords_prods_merged['order_hour_of_day'].value_counts()

10    2764288
11    2738483
14    2691448
15    2664420
13    2663169
12    2620719
16    2537358
9     2456591
17    2089385
8     1719888
18    1637858
19    1259335
20     976991
7      891900
21     796341
22     634715
23     402593
6      290763
0      218925
1      115780
5       88054
2       69429
4       53280
3       51317
Name: order_hour_of_day, dtype: int64

#### The three groups have been divided as:
'Most orders'= (10, 11, 14, 15, 13, 12, 16, 9, 17);
'Average orders' = (8, 18, 19, 20, 7, 21, 22, 23);
and 'Fewest orders' = (6, 0, 1, 5, 2, 4, 3).

In [29]:
# Create an empty list into which you can place the results from your loop

hour_results = []

# for loop

for value in ords_prods_merged["order_hour_of_day"]:
  if value in [10, 11, 14, 15, 13, 12, 16, 9, 17]:
    hour_results.append("Most orders")
  elif value in [6, 0, 1, 5, 2, 4, 3]:
    hour_results.append("Fewest Orders")
  else:
    hour_results.append("Average orders")

In [30]:
# Create new column 
ords_prods_merged['busiest_period_of_day'] = hour_results

### 05. Print the frequency for this new column

In [31]:
#Check frequency
ords_prods_merged['busiest_period_of_day'].value_counts()

Most orders       23225861
Average orders     8319621
Fewest Orders       887548
Name: busiest_period_of_day, dtype: int64

In [32]:
ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Average orders
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most orders
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Average orders
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Most orders

### 07. Export your dataframe as a pickle file

In [34]:
ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_variables.pkl'))